:root {
  --darker: #272727;
  --dark: #333333;
  --light: #d6d6d6;
  --primary: #ff652f;
  --primary-light: #fd9c79;
  --secondary: #febe44;
  --tertiary: #6b46de;
  --light-tertiary: #d6c8ff;
  --dark-tertiary: #241096;
  --gradient: radial-gradient(circle, rgb(43, 43, 43) 0%, rgb(26, 26, 26) 100%);
}

/* utils */

body {
  font-family: "Open Sans", sans-serif;
  color: var(--light);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  scroll-behavior: smooth;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 700;
}

p {
  margin: 0;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.section {
  padding-top: 70px;
  min-height: 100vh;
}

/* navbar */

.navbar {
  background: transparent;
}

.nav-link {
  color: var(--light);
  font-weight: 500;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--primary-light);
}

/* landing */

.container-fluid {
  padding: auto;
}

.landing,
.about {
  background: var(--gradient);
  display: flex;
  align-items: center;
}

.landing-inner,
.about-inner {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}

.image-inner {
  min-width: 100px;
  max-width: 220px;
}

.myImage {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 15px #111;
}

.header-container {
  padding-left: 1rem;
  border-left: 1px solid var(--light);
}

.header-text {
  font-size: 1.2rem;
  font-weight: 700;
}

.header-large,
.header-small {
  color: var(--primary);
}

.header-small {
  font-size: 1.5rem;
}

.btn-container {
  margin-top: 0.75rem;
  display: flex;
  column-gap: 1rem;
}

.btn-orange {
  color: var(--primary);
  border-color: var(--primary);
}

.btn-orange:hover,
.btn-orange:active {
  background-color: var(--primary);
  border: var(--primary);
}

.btn-purple {
  background: transparent;
  border: 1px solid var(--light-tertiary);
  color: var(--light-tertiary);
  /* padding: 0.2rem 0.4rem 0 0.4rem; */
  margin: 1rem 0.2rem;
  line-height: 1.2rem;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
  background: var(--dark-tertiary);
  border: none;
  color: var(--light-tertiary);
  box-shadow: none;
}

.btn-purple .bi::before {
  transform: scale(1);
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: none;
}

/* projects page */

.projects {
  color: var(--light-tertiary);
  background: hsla(255, 70%, 57%, 1);

  background: linear-gradient(
    225deg,
    hsla(255, 70%, 57%, 1) 0%,
    hsla(255, 70%, 38%, 1) 100%
  );

  background: -moz-linear-gradient(
    225deg,
    hsla(255, 70%, 57%, 1) 0%,
    hsla(255, 70%, 38%, 1) 100%
  );

  background: -webkit-linear-gradient(
    225deg,
    hsla(255, 70%, 57%, 1) 0%,
    hsla(255, 70%, 38%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6B46DE", endColorstr="#3F1DA5", GradientType=1 );

  min-height: 100vh;
}

.projects h2 {
  padding-bottom: 0.6rem;
  border-bottom: 1px solid var(--light-tertiary);
}

.projects ul {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.projects li {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 10px var(--dark-tertiary);
  /* border: 2px solid red; */
  padding: 0.8rem;
  /* border: 1px solid var(--light-tertiary); */
}

.projects li div {
  border-radius: 1rem;
  overflow: hidden;
}

ul .project-list {
  margin: 0;
}

.project-btn-container {
  justify-content: center;
  column-gap: 1rem;
}

.bi::before {
  transform: scale(1.5);
}

.btn-project {
  color: var(--light-tertiary);
}

.btn-project:hover {
  color: var(--light-tertiary);
  opacity: 0.5;
}

.btn-project .bi {
  transform: scale(1.5);
}

/* about */

.about {
  background: var(--gradient);
  color: var(--primary);
}

.about h2,
.contact h2 {
  border-bottom: 1px solid var(--light);
  padding-bottom: 0.7rem;
}

.about p {
  font-weight: 300;
  color: var(--light);
  margin-bottom: 0.8rem;
  max-width: 1100px;
}

.about .about-highlight {
  font-weight: 500;
  color: var(--primary-light);
}

.about-inner {
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* contact section */
.contact {
  background-color: var(--primary);
}

.contact-inner {
  background: var(--gradient);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 2rem;
}

.contact-inner h2 {
  padding: 0.75rem;
}

form {
  max-width: 900px;
  margin: auto;
  /* min-height: calc(100vh - 69.6px); */
  padding-top: 1rem;
}

.form-control {
  background-color: transparent;
  border-color: var(--light);
  color: var(--light);
  margin-bottom: 1.5rem;
}

.form-control:focus {
  background-color: transparent;
  box-shadow: none;
  color: var(--primary);
  border-color: var(--primary);
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--dark);
  background-color: var(--darker);
}
input:-moz-autofill {
  -moz-text-fill-color: var(--light);
  background-color: var(--darker);
}
input:-o-autofill {
  -o-text-fill-color: var(--light);
  background-color: var(--darker);
}
input:-khtml-autofill {
  -khtml-text-fill-color: var(--light);
  background-color: var(--darker);
}

.message {
  min-height: 5rem !important;
}

form .btn {
  display: block;
  margin: auto;
}

.contact-links-outer {
  margin-top: 0.75rem;
}

.contact-links-container {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.contact h3 {
  font-size: 1rem;
  font-weight: 500;
}

.contact a:hover,
.contact .contact-link:hover {
  opacity: 0.7;
}

.contact .contact-link {
  cursor: pointer;
}

/* MEDIA */

@media (max-width: 1222px) {
  .projects ul {
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .projects li {
    padding: 0.4rem;
  }
}

@media (max-width: 700px) {
  .img-container {
    padding-right: 0.6rem;
    justify-content: center;
  }

  .header-container {
    padding-left: 0.6rem;
    border-left: 1px solid var(--light);
  }

  .header-text {
    font-size: 1rem;
    font-weight: 700;
  }

  .landing h1,
  .about h1 {
    font-size: 4rem;
  }

  .header-large,
  .header-small {
    color: var(--primary);
  }

  .header-small {
    font-size: 1.5rem;
  }

  .btn-container {
    margin-top: 0.75rem;
    display: flex;
    column-gap: 1rem;
  }
}

@media (max-width: 500px) {
  .landing-inner,
  .about-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .landing-inner h1,
  .about h1 {
    line-height: 4rem;
  }

  .landing img,
  .about h1 {
    width: 140px;
  }

  .header-container {
    padding-top: 0.75rem;
    border-left: none;
  }

  .landing .btn-container,
  .about .btb container {
    justify-content: center;
    margin: 0.5rem auto;
  }
}

@media (max-width: 400px) {
  .projects ul {
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
